{% extends 'base.html'%}
{%block content%}
<h2>{{data.title}}</h2>
<button type="button" class="btn btn-secondary dropdown-toggle float-right" data-toggle="dropdown">Actions</button>
{%if data.status == 'NEW'%}
<div class="dropdown-menu">
    <a class="dropdown-item" href="/edit_ticket/{{data.id}}/">Edit</a>
    <a class="dropdown-item" href="/assign_ticket/{{data.id}}/">Claim Ticket</a>
    <a class="dropdown-item" href="/invalid_ticket/{{data.id}}/">Mark Ticket Invalid</a>
</div>
{%endif%}
{%if data.status == 'IN PROGRESS'%}
<div class="dropdown-menu">
    <a class="dropdown-item" href="/edit_ticket/{{data.id}}/">Edit</a>
    <a class="dropdown-item" href="/complete_ticket/{{data.id}}/">Complete Ticket</a>
    <a class="dropdown-item" href="/return_ticket/{{data.id}}/">Return Ticket</a>
</div>
{%endif%}
{%if data.status == 'DONE'%}
<div class="dropdown-menu">
    <a class="dropdown-item" href="/reopen_ticket/{{data.id}}/">Reopen Ticket</a>
</div>
{%endif%}
<h4>Status: {{data.status}}</h4>
<h4>Submitted On: {{data.created}}</h4>
<h4>Reported By: <a href="/user_view/{{data.filed_by.id}}/">{{data.filed_by.username}}</a></h4>
{%if data.assigned_to%}
<h4>Assigned To: <a href="/user_view/{{data.assigned_to.id}}/">{{data.assigned_to.username}}</a></h4>
{%endif%}
{%if data.completed_by%}
<h4>Completed By: <a href="/user_view/{{data.completed_by.id}}/">{{data.completed_by.username}}</a></h4>
{%endif%}
<p>Description: {{data.description}}</p>
{%endblock%}
